@model Najib_Osman_Cumulative_Project_Part_1.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/list">Back to Teachers</a>
<div id="containershow">
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p> @Model.TeacherSalary</p>
    <p>@Model.TeacherHireDate</p>

    </div>